---
import ViewTransitions from "astro/components/ViewTransitions.astro";

import { MultiReact } from '../components/MultiReact';
import Multi from "../components/Multi.astro";

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario con Astro Actions</title>
    <ViewTransitions />
  </head>
  <body>
    <h1>Formulario con Astro Actions + React</h1>
    <MultiReact client:load />
  
    <br/>
    <h1>Formulario con Astro Actions + Vanilla</h1>
    <Multi />
  </body>
</html>
