---
import { actions } from "astro:actions";
const { data, error } = await actions.getUsers.safe();
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Astro + Prisma</title>
</head>
<body>
  <h1>Users</h1>
  <ul>
    {data?.map((persona) => (
      <li>{persona.name} - {persona.email}</li>
    ))}
  </ul>
</body>
</html>
