---
import { SignIn, SignOut } from "auth-astro/components"
import { getSession } from "auth-astro/server"
const session = await getSession(Astro.request)
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Page</title>
  </head>
  <body>
    <h1>Secret Page</h1>
    {
        session ?
        <>
            <p>Bienvenido, {session.user?.email}!</p>
            <SignOut>Cerrar sesion</SignOut>
        </>
        :
        <>
            <p>No has iniciado sesión.</p>
            <SignIn provider="google">
                Signin con Google
            </SignIn>
        </>
    }
    
  </body>
</html>
