---
export interface TableProps {
  data: {
    id: number;
    title: string;
    content: string;
    isPublished: boolean;
  }[];
}

const { data } = Astro.props as TableProps;

function truncateText(text: string, length: number) {
  if (text.length <= length) {
    return text;
  }
  return text.substring(0, length) + "...";
}
---

<table class="min-w-full divide-y divide-gray-700">
  <thead class="bg-gray-800">
    <tr>
      <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider"
        >Title</th
      >
      <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider"
        >Content</th
      >
      <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider"
        >isPublished</th
      >
      <th
        scope="col"
        class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider"
        >Actions</th
      >
    </tr>
  </thead>
  <tbody class="bg-gray-900 divide-y divide-gray-700">
    {
      data.map((item) => (
        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-200">
            {truncateText(item.title, 15)}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-200">
            {truncateText(item.content, 30)}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-200">
            {item.isPublished ? "Yes" : "No"}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-200">
            <div class="flex space-x-2">
              <a
                href={`/post/edit/${item.id}`}
                class="px-2 py-1  bg-yellow-500 text-white rounded hover:bg-yellow-600"
              >
                Edit
              </a>

              <button
                class="px-2 py-1 bg-red-500 text-white rounded hover:bg-red-600"
                is:raw
                onclick="handleDelete()"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
      ))
    }
  </tbody>
</table>
